#floatApp {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: relative;
}

.mini-window {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  cursor: move;
  user-select: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-window.expanded {
  width: 160px;
  height: 150px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 12px;
}

.mini-window.expanded .mini-content {
  opacity: 0;
  pointer-events: none;
}

.mini-window.expanded .expanded-content {
  opacity: 1;
  pointer-events: auto;
}

.mini-window .mini-content {
  opacity: 1;
  transition: opacity 0.3s;
  overflow: hidden;
}

.mini-window .mini-content .mini-bg {
  cursor: pointer;
  display: inline-block;
  background: var(--app-color-gradient-blue);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.mini-window .mini-content .mini-bg span {
  mix-blend-mode: difference;
  z-index: 999;
}

.mini-window .mini-content .mini-bg .wave {
  content: "";
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 40px;
  border-radius: 40%;
  transform: translateX(-50%);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

.mini-window .expanded-content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 150px;
  opacity: 0;
  padding: 9px 12px;
  pointer-events: none;
  transition: opacity 0.3s;
}

.mini-window .expanded-content .actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.mini-window .expanded-content .actions .action-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--ep-color-primary);
}

.mini-window .expanded-content .actions .action-item .el-icon {
  font-size: 18px;
}

.mini-window .expanded-content .actions .action-item span {
  font-size: 14px;
}

.mini-window .expanded-content .actions .action-item:hover {
  background-color: var(--menu-active-bg-color);
  transform: scale(1.06);
  outline: 1px solid var(--ep-color-primary);
}
